body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;

    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
}

.disclaimer {
    margin-top: 1em;
    color: gray;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}

.initially-hidden {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .hidden-phone {
        visibility: hidden;
    }
}
